<md-content layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Crossover Auction</span>
      <span flex></span> Welcome {{userSession.userObject.username}}
      <md-button aria-label="logout" ng-click="homeController.logout()"> logout </md-button>
    </div>
  </md-toolbar>

  <section layout="row" layout-wrap layout-align="center">

    <my-todo list="vm.todo" title="Angular Todo"></my-todo>

    <div layout="column">
      <md-list class="md-dense chat-section" id="chat" style="overflow-y: scroll;">
        <md-list-item class="md-3-line" ng-repeat="item in homeController.messages">
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.from }}:</h3>
            <h4>{{ item.message }}</h4>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <form ng-submit="homeController.sendMsg()" class="chat-input" layout="row">
        <md-input-container>
          <label>Type a message</label>
          <input ng-model="homeController.message">
        </md-input-container>
        <md-button class="md-raised" type="submit">Send</md-button>
      </form>
    </div>
  </section>

</md-content>
<md-progress-linear class="md-progress-bottom" ng-if="homeController.dataLoading" md-mode="indeterminate" aria-label="label"></md-progress-linear>
